@media(max-width: 500px) {
    body {
        min-height: 100vh;
    }

    main {
        width: calc(100% - 30px);
        backdrop-filter: blur(50px);
        -webkit-backdrop-filter: blur(50px);
    }

    footer {
        width: 100%;
    }
}

@keyframes gradientColor {
    0% {
        background-position: 0% 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}