@media(max-width: 412px) {
    img {
        display: none;
    }

    .responsive {
        min-height: 100vh;
        background: linear-gradient(45deg, white, green, blue);
        background-size: 300% 300%;
        animation: gradientColor 20s ease-in-out infinite;
    }

    main {
        width: 90%;
        background: #fff;
    }

    footer {
        width: 100%;
    }
}

@keyframes gradientColor {
    0% {
        background-position: 0% 50%;
    } 50% {
        background-position: 100% 50%;
    } 100% {
        background-position: 0% 50%;
    }
}